.ul-right-nav {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
}

.ul-right-nav>li {
    padding: 18px 10px;
}


/* quando apresentar a barra estiver aberto */

@media (max-width: 768px) {
    .ul-right-nav {
        flex-flow: column nowrap;
        background-color: #0d2538;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 300px;
        padding-top: 3.5rem;
        transition: transform 0.3s ease-in-out;
    }
    .ul-right-nav-closed {
        transform: translateX(100%);
    }
    .ul-right-nav-open {
        transform: translateX(0);
    }
    #ul-right-nav>li {
        color: #fff;
    }
}